include _inner_bg_header.jade
<div class="top_inner_bg" style="background-image: url(include/images/events_bg.jpg);">
    <div class="path_block_wr animation_block">
        <div class="block-padding">
            <a href="">Главная</a><span>/</span>Мероприятия
        </div>
    </div>
    <div class="page_title animation_block">
        <div class="block-padding">
            <h1>Мероприятия</h1>
            <div class="text">Grand Autograph - единственный пятизвездочный отель в Новосибирске</div>
            <div class="play_btn_top"></div>
        </div>
    </div>

</div>
<div class="content_main_block events_page">
    <div class="events_block_wr">
        <div class="block-padding">
            <div class="events_top">
                <div class="left_slider">
                    <div class="name">мероприятия в отеле</div>
                    
                    <div class="swiper left_slider_events">
                        <div class="swiper-wrapper">
                            <div class="swiper-slide">
                                <div class="title">от дня рождения до конференции</div>
                                <div class="text">Уютный номер с видом во двор площадью 30 кв. м. с двумя кроватями оснащен всем необходимым для комфортного пребывания вне </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="title">от дня рождения до конференции 2</div>
                                <div class="text">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                                tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam</div>
                            </div>
                            <div class="swiper-slide">
                                <div class="title">от дня рождения до конференции 3</div>
                                <div class="text">
                                quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse </div>
                            </div>
                        </div>
                    </div>
                    <div class="left_slider_bottom">
                        <div class="announces-block__nav">
                            <div class="events_arrow_btn swiper-button-prev"></div>
                            <div class="events_arrow_btn swiper-button-next"></div>
                        </div>
                        <div class="pagination_events"></div>
                    </div>
                </div>
                <div class="right_slider">
                    <div class="swiper right_slider_events">
                        <div class="swiper-wrapper">
                            <div class="swiper-slide">
                                <div class="name">ваша свадьба запомнится на долго</div>
                                <div class="image">
                                    <img src="include/images/events_slid.jpg" alt="">
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="name">ваша свадьба </div>
                                <div class="image">
                                    <img src="include/images/events_slid.jpg" alt="">
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="name">ваша свадьба запомнится </div>
                                <div class="image">
                                    <img src="include/images/events_slid.jpg" alt="">
                                </div>
                            </div>
                        </div>
                        <div class="events_pagination_block"></div>
                    </div>
                </div>
                <div class="right_slider_bottom">
                    <div class="announces-block__nav">
                        <div class="events_arrow_btn swiper-button-prev"></div>
                        <div class="fevents_arrow_btn swiper-button-next"></div>
                    </div>
                    <div class="pagination_events"></div>
                    <a href="" class="button button-primary-bordered">Подробнее</a>
                </div>
            </div>
        </div>
    </div>
    <div class="events_items">
        <div class="block-padding">
            <div class="inner_block">
                <div class="events-pearl__top-image">
                    <div class="small-pearl_top">
                        <img src="include/images/e_small_pearl.png" alt="small_pearl">
                    </div>
                    <div class="small-pearl_left">
                        <img src="include/images/e_medium_pearl.png" alt="medium_pearl">
                    </div>
                    <div class="small-pearl_right">
                        <img src="include/images/e_medium_pearl_right.png" alt="medium_pearl">
                    </div>
                    <div class="small-pearl_bottom">
                        <img src="include/images/e_medium_pearl_bottom.png" alt="medium_pearl">
                    </div>
                </div>
                <div class="swiper slider_events_items">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide">
                            <div class="image">
                                <img src="include/images/event1.jpg" alt="">
                            </div>
                            <div class="body">
                                <div class="name">Свадьба в отеле с нуля</div>
                                <div class="text">Уютный номер с видом во двор площадью 30 кв. м. с двумя кроватями оснащен всем необходимым для комфортного пребывания вне </div>
                                <a href="" class="more"></a>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="image">
                                <img src="include/images/event2.jpg" alt="">
                            </div>
                            <div class="body">
                                <div class="name">День рождения</div>
                                <div class="text">Уютный номер с видом во двор площадью 30 кв. м. с двумя кроватями оснащен всем необходимым для комфортного пребывания вне </div>
                                <a href="" class="more"></a>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="image">
                                <img src="include/images/3.jpg" alt="">
                            </div>
                            <div class="body">
                                <div class="name">Девичник</div>
                                <div class="text">Уютный номер с видом во двор площадью 30 кв. м. с двумя кроватями оснащен всем необходимым для комфортного пребывания вне </div>
                                <a href="" class="more"></a>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="image">
                                <img src="include/images/event4.jpg" alt="">
                            </div>
                            <div class="body">
                                <div class="name">Конференция</div>
                                <div class="text">Уютный номер с видом во двор площадью 30 кв. м. с двумя кроватями оснащен всем необходимым для комфортного пребывания вне </div>
                                <a href="" class="more"></a>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="image">
                                <img src="include/images/event5.jpg" alt="">
                            </div>
                            <div class="body">
                                <div class="name">Организация мероприятий</div>
                                <div class="text">Уютный номер с видом во двор площадью 30 кв. м. с двумя кроватями оснащен всем необходимым для комфортного пребывания вне </div>
                                <a href="" class="more"></a>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="image">
                                <img src="include/images/event6.jpg" alt="">
                            </div>
                            <div class="body">
                                <div class="name">Корпоратив</div>
                                <div class="text">Уютный номер с видом во двор площадью 30 кв. м. с двумя кроватями оснащен всем необходимым для комфортного пребывания вне </div>
                                <a href="" class="more"></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="announces-block__nav">
                <div class="events_items_arrow_btn swiper-button-prev"></div>
                <div class="events_items_arrow_btn swiper-button-next"></div>
            </div>
        </div>
    </div>
    <div class="spes_slider_wrapper animation_block">
        <div class="block-padding">
            <div class="title_slider_block">
                <div class="title">
                    <div class="name">Специальные предложения</div>
                    <div class="text">Уютный номер с видом во двор площадью 30 кв. м. с двумя кроватями оснащен всем необходимым для комфортного пребывания вне </div>
                </div>
                <div class="announces-block__nav">
                    <div class="spes_arrow swiper-button-prev"></div>
                    <div class="spes_arrow swiper-button-next"></div>
                </div>
                <a href="" class="button button-primary-bordered">Подробнее</a>
            </div>
            <div class="swiper swiper_slider_spes">
                <div class="swiper-wrapper">    
                    <div class="item_spes swiper-slide">
                        <div class="image">
                            <img src="include/images/spes1.jpg" alt="">
                        </div>
                        <div class="name">
                            <a href="">Пакет Happy Birthday</a>
                        </div>
                        <div class="link">
                            <a href="">Подробнее</a>
                        </div>
                    </div>
                    <div class="item_spes swiper-slide">
                        <div class="image">
                            <img src="include/images/spes2.jpg" alt="">
                        </div>
                        <div class="name">
                            <a href="">Пакет Безупречный люкс</a>
                        </div>
                        <div class="link">
                            <a href="">Подробнее</a>
                        </div>
                    </div>
                    <div class="item_spes swiper-slide">
                        <div class="image">
                            <img src="include/images/spes3.jpg" alt="">
                        </div>
                        <div class="name">
                            <a href="">Пакет Безупречный люкс</a>
                        </div>
                        <div class="link">
                            <a href="">Подробнее</a>
                        </div>
                    </div>
                    <div class="item_spes swiper-slide">
                        <div class="image">
                            <img src="include/images/spes4.jpg" alt="">
                        </div>
                        <div class="name">
                            <a href="">Длительное проживание от 3-х дней</a>
                        </div>
                        <div class="link">
                            <a href="">Подробнее</a>
                        </div>
                    </div>
                    <div class="item_spes swiper-slide">
                        <div class="image">
                            <img src="include/images/spes1.jpg" alt="">
                        </div>
                        <div class="name">
                            <a href="">Пакет Happy Birthday</a>
                        </div>
                        <div class="link">
                            <a href="">Подробнее</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="spes_bottom">
                <a href="" class="button button-primary-bordered">Подробнее</a>
                <div class="announces-block__nav">
                    <div class="spes_arrow swiper-button-prev"></div>
                    <div class="spes_arrow swiper-button-next"></div>
                </div>                
            </div>
        </div>
    </div>  
</div>
include _footer.jade