include _inner_bg_header.jade
<div class="top_inner_bg congress_page" style="background-image: url(include/images/kongress.jpg);">
    <div class="path_block_wr animation_block">
        <div class="block-padding">
            <a href="">Главная</a><span>/</span>Конгресс-холл
        </div>
    </div>
    <div class="page_title animation_block">
        <div class="block-padding">
            <h1>Конгресс-холл</h1>
            <div class="text">Grand Autograph - единственный пятизвездочный отель в Новосибирске</div>
        </div>
    </div>
    <div class="params_cong">
        <div class="block-padding">
            <div class="item">
                <div class="name">6</div>
                <div class="text">залов</div>
            </div>
            <div class="item">
                <div class="name">280 чел.</div>
                <div class="text">максимальная  рассадка</div>
            </div>
            <div class="item">
                <div class="name">Кейтеринг</div>
                <div class="text">обслуживание гостей</div>
            </div>
            <div class="item">
                <div class="name">Еще что-то</div>
                <div class="text">обслуживание гостей</div>
            </div>
        </div>
    </div>
</div>
<div class="content_main_block congress_page">
    <div class="rest_slider_wr">
        <div class="block-padding">
            <div class="rest_slider_top">
                <div class="left_slider">
                    <div class="title">Залы</div>
                    <div class="swiper left_slider_rest_slider">
                        <div class="swiper-wrapper">
                            <div class="swiper-slide">
                                <div class="text">Мы позаботились о вашем комфорте: предоставляем полотенца, питьевую воду и свежие яблоки. Фитнес-центр работает круглосуточно, а бассейн до 23:00, что позволяет тренироваться в свободное от рабочих мероприятий время, не выходя с территории отеля. </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="text">Мы позаботились о вашем комфорте: предоставляем полотенца, питьевую воду и свежие яблоки. Фитнес-центр работает круглосуточно, а бассейн до 23:00, что позволяет тренироваться в свободное от рабочих мероприятий время, не выходя с территории отеля. </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="text">Мы позаботились о вашем комфорте: предоставляем полотенца, питьевую воду и свежие яблоки. Фитнес-центр работает круглосуточно, а бассейн до 23:00, что позволяет тренироваться в свободное от рабочих мероприятий время, не выходя с территории отеля.  </div>
                            </div>
                        </div>
                    </div>
                    <div class="left_slider_bottom">
                        <div class="announces-block__nav">
                            <div class="rest_slider_arrow_btn swiper-button-prev"></div>
                            <div class="rest_slider_arrow_btn swiper-button-next"></div>
                        </div>
                        <div class="pagination_rest_slider"></div>
                    </div>
                </div>
                <div class="right_slider">
                    <div class="swiper right_slider_rest_slider">
                        <div class="swiper-wrapper">
                            <div class="swiper-slide">
                                <div class="name">Рахманинов</div>
                                <div class="image">
                                    <img src="include/images/kon_sl.jpg" alt="">
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="name">Рахманинов</div>
                                <div class="image">
                                    <img src="include/images/kon_sl.jpg" alt="">
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="name">Рахманинов</div>
                                <div class="image">
                                    <img src="include/images/kon_sl.jpg" alt="">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="equipment_block_wr block-padding">
        <div class="title">Оборудование и услуги</div>
        <div class="inner">
            <ul>
                <li>
                    <div class="name">Оборудование для конференций</div>
                    <ul>
                        <li><div class="item">Аудиовизуальное оборудование</div></li>
                        <li><div class="item">Система Polycom для видеоконференций</div></li>
                        <li><div class="item">ЖК-панель</div></li>
                        <li><div class="item">LCD-проектор</div></li>
                        <li><div class="item">Микрофон</div></li>
                        <li><div class="item">Поставщик услуг телевизионных съемок </div></li>
                        <li><div class="item">Сцена: портативная</div></li>
                        <li><div class="item">Телевизор</div></li>
                        <li><div class="item">Банкетное оборудование</div></li>
                    </ul>
                </li>
                <li>
                    <div class="name">Обслуживание конференций</div>
                    <ul>
                        <li><div class="item">Видеоконференции</div></li>
                        <li><div class="item">Декоратор</div></li>
                        <li><div class="item">Копировальные услуги</div></li>
                        <li><div class="item">Специалист по аудиовизуальному оборудованию</div></li>
                        <li><div class="item">Фотограф</div></li>
                    </ul>
                </li>
                <li>
                    <div class="name">Услуги кейтеринга</div>
                    <ul>
                        <li><div class="item">Бизнес завтрак</div></li>
                        <li><div class="item">Кофе-брейк</div></li>
                        <li><div class="item">Обед</div></li>
                        <li><div class="item">Ужин</div></li>
                        <li><div class="item">Банкет</div></li>
                        <li><div class="item">Фуршет</div></li>
                        <li><div class="item">Выездной кейтеринг</div></li>
                    </ul>
                </li>
                <li>
                    <div class="name">Дополнительные услуги</div>
                    <ul>
                        <li><div class="item">Компьютеры</div></li>
                        <li><div class="item">Принтеры</div></li>
                        <li><div class="item">Копировальные услуги</div></li>
                        <li><div class="item">Услуга Messenger</div></li>
                        <li><div class="item">Проводной и Wi-Fi</div></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
    <div class="place_block_wr block-padding">
        <div class="left_block">
            <div class="title">Виды рассадок в зале Чайковский</div>
            <div class="swiper left_slider_place">
                <div class="swiper-wrapper">
                    <div class="swiper-slide">
                        <div class="name">Делится на залы:</div>
                        <div class="text">
                            <ul>
                                <li>Чайковский А – 165 м²</li>
                                <li>Чайковский Б – 83 м²</li>
                            </ul>
                        </div>
                        <a href="" class="button button-primary-bordered">Забронировать зал</a>
                    </div>
                    <div class="swiper-slide">
                        <div class="name">Делится на залы:</div>
                        <div class="text">
                            <ul>
                                <li>Чайковский А – 165 м²</li>
                                <li>Чайковский Б – 83 м²</li>
                            </ul>
                        </div>
                        <a href="" class="button button-primary-bordered">Забронировать зал</a>
                    </div>
                    <div class="swiper-slide">
                        <div class="name">Делится на залы:</div>
                        <div class="text">
                            <ul>
                                <li>Чайковский А – 165 м²</li>
                                <li>Чайковский Б – 83 м²</li>
                            </ul>
                        </div>
                        <a href="" class="button button-primary-bordered">Забронировать зал</a>
                    </div>
                </div>
            </div>
            <div class="left_slider_bottom">
                <div class="announces-block__nav">
                    <div class="place_arrow_btn swiper-button-prev"></div>
                    <div class="place_arrow_btn swiper-button-next"></div>
                </div>
                <div class="pagination_place"></div>
            </div>
        </div>
        <div class="right">
            <div class="swiper right_slider_place">
                <div class="swiper-wrapper">
                    <div class="swiper-slide">
                        <div class="image">
                            <img src="include/images/kon_sl.jpg" alt="">
                        </div>
                        <div class="bottom_text">
                            <div class="name">Театральная рассадка</div>
                            <div class="size">165 м²</div>
                            <div class="chel">280 чел.</div>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="image">
                            <img src="include/images/kon_sl.jpg" alt="">
                        </div>
                        <div class="bottom_text">
                            <div class="name">Театральная рассадка</div>
                            <div class="size">165 м²</div>
                            <div class="chel">280 чел.</div>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="image">
                            <img src="include/images/kon_sl.jpg" alt="">
                        </div>
                        <div class="bottom_text">
                            <div class="name">Театральная рассадка</div>
                            <div class="size">165 м²</div>
                            <div class="chel">280 чел.</div>
                        </div>
                    </div>
                </div>
                <div class="announces-block__nav">
                    <div class="place_arrow swiper-button-prev"></div>
                    <div class="place_arrow swiper-button-next"></div>
                </div>
            </div>
        </div>
    </div>
    <section class="list_number_page announces-block block-padding" data-scroll-section>
        <div class="announces-block__inner block-width">
            <div class="announces-block__header">
                <div class="announces-block__header_title">
                    <div class="name">Мероприятия в нашем конгресс-холле</div>
                    <div class="text">Уютный номер с видом во двор площадью 30 кв. м. с двумя кроватями оснащен всем необходимым для комфортного пребывания вне </div>
                </div>
                <div class="announces-block__nav">
                    <div class="swiper-button-prev"></div>
                    <div class="swiper-button-next"></div>
                </div>
            </div>
            <div class="announces-block__slider">
                <div class="swiper">
                    <div class="swiper-wrapper">
                        <div class="announces-block__slider-item swiper-slide">
                            <div class="item-header">
                                <div class="item-btn">
                                    <a href="#">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"><path d="M11.0216 0.260986H12.9781V23.7392H11.0216V0.260986Z" fill="white"/><path d="M23.739 11.0219V12.9784L0.260742 12.9784L0.260742 11.0219L23.739 11.0219Z" fill="white"/></svg>
                                    </a>
                                </div>
                                <div class="item-date">12-25 июля</div>
                            </div>
                            <div class="item-title">Название мероприятия</div>
                            <div class="item-body">
                                <img src="include/images/konf1.jpg" alt="announce_sl2">
                            </div>
                        </div>
                        <div class="announces-block__slider-item swiper-slide with_line">
                            <div class="item-header">
                                <div class="item-btn">
                                    <a href="#">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"><path d="M11.0216 0.260986H12.9781V23.7392H11.0216V0.260986Z" fill="white"/><path d="M23.739 11.0219V12.9784L0.260742 12.9784L0.260742 11.0219L23.739 11.0219Z" fill="white"/></svg>
                                    </a>
                                </div>
                                <div class="item-date">11-14 июля</div>
                            </div>
                            <div class="item-title">Название мероприятия</div>
                            <div class="item-body">
                                <img src="include/images/konf2.jpg" alt="announce_sl2">
                            </div>
                        </div>
                        <div class="announces-block__slider-item swiper-slide">
                            <div class="item-header">
                                <div class="item-btn">
                                    <a href="#">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"><path d="M11.0216 0.260986H12.9781V23.7392H11.0216V0.260986Z" fill="white"/><path d="M23.739 11.0219V12.9784L0.260742 12.9784L0.260742 11.0219L23.739 11.0219Z" fill="white"/></svg>
                                    </a>
                                </div>
                                <div class="item-date">12-25 июля</div>
                            </div>
                            <div class="item-title">Название мероприятия</div>
                            <div class="item-body">
                                <img src="include/images/konf1.jpg" alt="announce_sl2">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <div class="review_slider_wrapper animation_block">
        <div class="block-padding">
            <div class="title_slider_block">
                <div class="title">Отзывы о предложениях</div>
                <div class="arrow__nav">
                    <div class="swiper-button-prev"></div>
                    <div class="swiper-button-next"></div>
                </div>
            </div>
            <div class="swiper swiper_review_slider">
                <div class="swiper-wrapper">    
                    <div class="review swiper-slide">
                        <div class="review_top">
                            <div class="date">19 января 2024</div>
                            <div class="name">Александра Петрова</div>
                            <div class="stars"><div class="stars_inner" style="width: 80%;"></div></div>
                            <div class="icon">
                                <img src="include/images/review1.svg" alt="">
                            </div>
                        </div>
                        <div class="body">
                            <p>Потрясающий сервис! На Алтае редко встретишь такое внимание к гостям! Ресторан еще не работает,но всю еду по меню привозят куда попросишь,будь то номер,беседка у реки,либо у домика.</p>
                            <p>По запросу привозят дрова и разжигают костер в беседках. Все очень дружелюбные. Мы очень довольн.....</p>
                        </div>
                        <div class="bottom"><a href="" class="link">Читать весь отзыв</a></div>
                    </div>
                    <div class="review swiper-slide">
                        <div class="review_top">
                            <div class="date">19 января 2024</div>
                            <div class="name">Александра Петрова</div>
                            <div class="stars"><div class="stars_inner" style="width: 80%;"></div></div>
                            <div class="icon">
                                <img src="include/images/review1.svg" alt="">
                            </div>
                        </div>
                        <div class="body">
                            <p>Потрясающий сервис! На Алтае редко встретишь такое внимание к гостям! Ресторан еще не работает,но всю еду по меню привозят куда попросишь,будь то номер,беседка у реки,либо у домика.</p>
                            <p>По запросу привозят дрова и разжигают костер в беседках. Все очень дружелюбные. Мы очень довольн.....</p>
                        </div>
                        <div class="bottom"><a href="" class="link">Читать весь отзыв</a></div>
                    </div>
                    <div class="review swiper-slide">
                        <div class="review_top">
                            <div class="date">19 января 2024</div>
                            <div class="name">Александра Петрова</div>
                            <div class="stars"><div class="stars_inner" style="width: 80%;"></div></div>
                            <div class="icon">
                                <img src="include/images/review1.svg" alt="">
                            </div>
                        </div>
                        <div class="body">
                            <p>Потрясающий сервис! На Алтае редко встретишь такое внимание к гостям! Ресторан еще не работает,но всю еду по меню привозят куда попросишь,будь то номер,беседка у реки,либо у домика.</p>
                            <p>По запросу привозят дрова и разжигают костер в беседках. Все очень дружелюбные. Мы очень довольн.....</p>
                        </div>
                        <div class="bottom"><a href="" class="link">Читать весь отзыв</a></div>
                    </div>
                    <div class="review swiper-slide">
                        <div class="review_top">
                            <div class="date">19 января 2024</div>
                            <div class="name">Александра Петрова</div>
                            <div class="stars"><div class="stars_inner" style="width: 80%;"></div></div>
                            <div class="icon">
                                <img src="include/images/review1.svg" alt="">
                            </div>
                        </div>
                        <div class="body">
                            <p>Потрясающий сервис! На Алтае редко встретишь такое внимание к гостям! Ресторан еще не работает,но всю еду по меню привозят куда попросишь,будь то номер,беседка у реки,либо у домика.</p>
                            <p>По запросу привозят дрова и разжигают костер в беседках. Все очень дружелюбные. Мы очень довольн.....</p>
                        </div>
                        <div class="bottom"><a href="" class="link">Читать весь отзыв</a></div>
                    </div>
                </div>
            </div>
        </div>  
    </div> 
</div>
include _footer.jade