include _inner_restaurant_header.jade
<div class="top_inner_bg" style="background-image: url(include/images/restaurant.jpg);">
    <div class="path_block_wr animation_block">
        <div class="block-padding">
            <a href="">Главная</a><span>/</span>Ресторан Увертюра
        </div>
    </div>
    <div class="page_title animation_block">
        <div class="block-padding">
            <h1>Ресторан Увертюра</h1>
            <div class="text">Grand Autograph - единственный пятизвездочный отель в Новосибирске</div>
            <div class="play_block">
                <div class="play_btn_top"></div>
                <img src="include/images/logo-res1.svg" alt="">
            </div>
            
        </div>
    </div>

</div>
<div class="content_main_block restaurant_page">
    <div class="fitnes_block_wr">
        <div class="block-padding">
            <div class="fitnes_top">
                <div class="left_slider">
                    <div class="name">наша кухня</div>
                    <div class="pagination_fitnes"></div>
                    <div class="title">эксклюзивные десерты</div>
                    <div class="swiper left_slider_fitnes">
                        <div class="swiper-wrapper">
                            <div class="swiper-slide">
                                <div class="text">Зал оснащен различными тренажерами для поддержания физической формы и активного образа жизни. График работы: круглосуточно. Всем гостям доступно безлимитное посещение зала во время проживания в отеле.</div>
                            </div>
                            <div class="swiper-slide">
                                <div class="text">Зал оснащен различными тренажерами для поддержания физической формы и активного образа жизни. График работы: круглосуточно. Всем гостям доступно безлимитное посещение зала во время проживания в отеле.</div>
                            </div>
                            <div class="swiper-slide">
                                <div class="text">Зал оснащен различными тренажерами для поддержания физической формы и активного образа жизни. График работы: круглосуточно. Всем гостям доступно безлимитное посещение зала во время проживания в отеле. </div>
                            </div>
                        </div>
                    </div>
                    <div class="left_slider_bottom">
                        <div class="announces-block__nav">
                            <div class="fitnes_arrow_btn swiper-button-prev"></div>
                            <div class="fitnes_arrow_btn swiper-button-next"></div>
                        </div>
                    </div>
                </div>
                <div class="right_slider">
                    <div class="swiper right_slider_fitnes">
                        <div class="swiper-wrapper">
                            <div class="swiper-slide">
                                <div class="name">гастрономическое удовольствие</div>
                                <div class="image">
                                    <img src="include/images/res.jpg" alt="">
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="name">большой выбор тренажеров</div>
                                <div class="image">
                                    <img src="include/images/res.jpg" alt="">
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="name">большой выбор тренажеров</div>
                                <div class="image">
                                    <img src="include/images/res.jpg" alt="">
                                </div>
                            </div>
                        </div>
                        <div class="fitnes_pagination_block">
                        </div>
                    </div>
                </div>
                <div class="right_slider_bottom">
                    <div class="announces-block__nav">
                        <div class="fitnes_arrow_btn swiper-button-prev"></div>
                        <div class="fitnes_arrow_btn swiper-button-next"></div>
                    </div>
                    <a href="" class="button button-primary-bordered">Подробнее</a>
                </div>
            </div>
        </div>
    </div>
    <div class="chef_block_wr">
        <div class="block-padding">
            <div class="left">
                <div class="image">
                    <img src="include/images/chef_res.png" alt="">
                </div>
                <div class="chef_text">
                    <div class="title">Шеф-повар</div>
                    <div class="name">Артак Шекоян</div>
                    <a href="" class="button button-primary">Биография</a>
                </div>
            </div>
            <div class="right">
                <div class="body">Поддерживайте здоровый образ жизни даже в поездках! В Grand Autograph есть оборудованный тренажерный зал, бассейн, сауна и хаммам, которые ждут гостей в любой день недели без выходных</div>
            </div>
        </div>
    </div>
    <div class="gal_res_block">
        <div class="block-padding">
            <div class="item">
                <div class="image">
                    <img src="include/images/ga1.jpg" alt="">
                </div>
                <div class="text">
                    <p>Мы позаботились о вашем комфорте: предоставляем полотенца, питьевую воду и свежие яблоки. Фитнес-центр работает круглосуточно, а бассейн до 23:00, что позволяет тренироваться в свободное от рабочих мероприятий время, не выходя с территории отеля. </p>
                    <p>Свободное от рабочих мероприятий время, не выходя с территории отеля. </p>
                </div>
            </div>     
            <div class="item">
                <div class="label">
                    <div class="icon">
                        <img src="include/images/3d.svg" alt="">
                    </div>
                    <div class="name">3D - тур</div>
                </div>
                <div class="image">
                    <img src="include/images/ga2.jpg" alt="">
                </div>
            </div>     
            <div class="item">
                <div class="image">
                    <img src="include/images/ga2.jpg" alt="">
                </div>
            </div>      
            <div class="item">
                <div class="image">
                    <img src="include/images/ga3.jpg" alt="">
                </div>
            </div>    
            <div class="item">
                <div class="image">
                    <img src="include/images/ga4.jpg" alt="">
                </div>
                <div class="text">
                    <p>Мы позаботились о вашем комфорте: предоставляем полотенца, питьевую воду и свежие яблоки. Фитнес-центр работает круглосуточно, а бассейн до 23:00, что позволяет тренироваться в свободное от рабочих мероприятий время, не выходя с территории отеля. </p>
                    <p>Мы позаботились о вашем комфорте: предоставляем полотенца, питьевую воду и свежие яблоки. Фитнес-центр работает круглосуточно, а бассейн до 23:00, что позволяет тренироваться в свободное от рабочих мероприятий время, не выходя с территории отеля. </p>
                </div>
            </div>       
        </div>
    </div>
    <div class="menu_food_block">
        <div class="bg" style="background-image: url(include/images/menu_bg.jpg);"></div>
        <div class="block-padding">
            <div class="title">меню на любой вкус</div>
            <div class="text">Уютный номер с видом во двор площадью 30 кв. м. с двумя кроватями оснащен всем необходимым для комфортного пребывания вне </div>
            <div class="inner">
                <div class="item">
                    <div class="name">Меню ресторана</div>
                    <ul>
                        <li><a href="">Основное</a></li>
                        <li><a href="">Сезонное</a></li>
                        <li><a href="">Сибирское</a></li>
                        <li><a href="">Десерты</a></li>
                        <li><a href="">Бизнес-ланч</a></li>
                        <li><a href="">Завтрак</a></li>
                    </ul>
                    <img src="include/images/menu1.png" alt="">
                </div>
                <div class="item">
                    <div class="name">Барное меню</div>
                    <ul>
                        <li><a href="">Летние напитки</a></li>
                        <li><a href="">Бар</a></li>
                        <li><a href="">Винное</a></li>
                    </ul>
                    <img src="include/images/menu2.png" alt="">
                </div>
            </div>
        </div>
    </div>
    <div class="rest_slider_wr">
        <div class="block-padding">
            <div class="rest_slider_top">
                <div class="left_slider">
                    <div class="title">наши рестораны</div>
                    <div class="swiper left_slider_rest_slider">
                        <div class="swiper-wrapper">
                            <div class="swiper-slide">
                                <div class="text">Мы позаботились о вашем комфорте: предоставляем полотенца, питьевую воду и свежие яблоки. Фитнес-центр работает круглосуточно, а бассейн до 23:00, что позволяет тренироваться в свободное от рабочих мероприятий время, не выходя с территории отеля. </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="text">Мы позаботились о вашем комфорте: предоставляем полотенца, питьевую воду и свежие яблоки. Фитнес-центр работает круглосуточно, а бассейн до 23:00, что позволяет тренироваться в свободное от рабочих мероприятий время, не выходя с территории отеля. </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="text">Мы позаботились о вашем комфорте: предоставляем полотенца, питьевую воду и свежие яблоки. Фитнес-центр работает круглосуточно, а бассейн до 23:00, что позволяет тренироваться в свободное от рабочих мероприятий время, не выходя с территории отеля.  </div>
                            </div>
                        </div>
                    </div>
                    <div class="left_slider_bottom">
                        <div class="announces-block__nav">
                            <div class="rest_slider_arrow_btn swiper-button-prev"></div>
                            <div class="rest_slider_arrow_btn swiper-button-next"></div>
                        </div>
                        <div class="pagination_rest_slider"></div>
                    </div>
                </div>
                <div class="right_slider">
                    <div class="swiper right_slider_rest_slider">
                        <div class="swiper-wrapper">
                            <div class="swiper-slide">
                                <div class="name">10TEN</div>
                                <div class="image">
                                    <img src="include/images/res_s.jpg" alt="">
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="name">большой выбор тренажеров</div>
                                <div class="image">
                                    <img src="include/images/res_s.jpg" alt="">
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="name">большой выбор тренажеров</div>
                                <div class="image">
                                    <img src="include/images/res_s.jpg" alt="">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="form_bottom_rest">
        <div class="block-padding">
            <div class="form_inner">
                <form action="">
                    <div class="title">Забронируйте столик в ресторане</div>
                    <div class="row">
                        <div class="form_field">
                            <input type="text" placeholder="Ваше имя">
                        </div>
                        <div class="form_field">
                            <input type="text" class="phone_field" placeholder="+7 (___) ___-__-__">
                        </div>
                    </div>
                    <div class="form_field">
                        <input type="submit" class="button button-white" value="Забронировать">
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
include _footer.jade