include _inner_bg_header.jade
<div class="top_inner_bg" style="background-image: url(include/images/service-top.jpg);">
    <div class="path_block_wr animation_block">
        <div class="block-padding">
            <a href="">Главная</a><span>/</span>Услуги
        </div>
    </div>
    <div class="page_title animation_block">
        <div class="block-padding">
            <h1>Услуги</h1>
            <div class="text">Grand Autograph - единственный пятизвездочный отель в Новосибирске</div>
            <div class="play_btn_top"></div>
        </div>
    </div>

</div>
<div class="content_main_block service_page">
    <div class="fitnes_block_wr">
        <div class="block-padding">
            <div class="fitnes_top">
                <div class="left_slider">
                    <div class="name">фитнес-центр</div>
                    <div class="pagination_fitnes"></div>
                    <div class="title">Спортивный зал</div>
                    <div class="swiper left_slider_fitnes">
                        <div class="swiper-wrapper">
                            <div class="swiper-slide">
                                <div class="text">Зал оснащен различными тренажерами для поддержания физической формы и активного образа жизни. График работы: круглосуточно. Всем гостям доступно безлимитное посещение зала во время проживания в отеле.</div>
                            </div>
                            <div class="swiper-slide">
                                <div class="text">Зал оснащен различными тренажерами для поддержания физической формы и активного образа жизни. График работы: круглосуточно. Всем гостям доступно безлимитное посещение зала во время проживания в отеле.</div>
                            </div>
                            <div class="swiper-slide">
                                <div class="text">Зал оснащен различными тренажерами для поддержания физической формы и активного образа жизни. График работы: круглосуточно. Всем гостям доступно безлимитное посещение зала во время проживания в отеле. </div>
                            </div>
                        </div>
                    </div>
                    <div class="left_slider_bottom">
                        <div class="announces-block__nav">
                            <div class="fitnes_arrow_btn swiper-button-prev"></div>
                            <div class="fitnes_arrow_btn swiper-button-next"></div>
                        </div>
                        <a href="" class="button button-primary-bordered">Подробнее</a>
                    </div>
                </div>
                <div class="right_slider">
                    <div class="swiper right_slider_fitnes">
                        <div class="swiper-wrapper">
                            <div class="swiper-slide">
                                <div class="name">большой выбор тренажеров</div>
                                <div class="image">
                                    <img src="include/images/fitnes.jpg" alt="">
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="name">большой выбор тренажеров</div>
                                <div class="image">
                                    <img src="include/images/fitnes.jpg" alt="">
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="name">большой выбор тренажеров</div>
                                <div class="image">
                                    <img src="include/images/fitnes.jpg" alt="">
                                </div>
                            </div>
                        </div>
                        <div class="fitnes_pagination_block"></div>
                    </div>
                </div>
                <div class="right_slider_bottom">
                    <div class="announces-block__nav">
                        <div class="fitnes_arrow_btn swiper-button-prev"></div>
                        <div class="fitnes_arrow_btn swiper-button-next"></div>
                    </div>
                    <a href="" class="button button-primary-bordered">Подробнее</a>
                </div>
            </div>
            <div class="fitnes_bottom">
                <div class="left">Поддерживайте здоровый образ жизни даже в поездках! В Grand Autograph есть оборудованный тренажерный зал, бассейн, сауна и хаммам, которые ждут гостей в любой день недели без выходных</div>
                <div class="right">
                    <div class="name">Фитнес-центр в отеле Grand Autograph Hotel Novosibirsk - это:</div>
                    <ul class="list">
                        <li>Тренажерный зал, где есть все для кардио- и силовых тренировок: беговые дорожки, эллипсоиды, велотренажеры, силовые тренажеры на любой вкус, штанги, гантели, фитболы и коврики для йоги.</li>
                        <li>Крытый бассейн с панорамными окнами. Рядом расположена уютная зона отдыха с шезлонгами.</li>
                        <li>Хаммам, чтобы расслабиться после тренировки или рабочего дня.</li>
                    </ul>
                    <div class="text">Мы позаботились о вашем комфорте: предоставляем полотенца, питьевую воду и свежие яблоки. Фитнес-центр работает круглосуточно, а бассейн до 23:00, что позволяет тренироваться в свободное от рабочих мероприятий время, не выходя с территории отеля. </div>
                </div>
            </div>
        </div>
    </div>
    <div class="block_not_x">
        <div class="block-padding">
            <div class="left">
                <div class="title">Без лишних хлопот</div>
                <div class="text">Уютный номер с видом во двор площадью 30 кв. м. с двумя кроватями оснащен всем необходимым для комфортного пребывания вне </div>
            </div>
            <div class="right">
                <div class="swiper slider_not">
                    <div class="swiper-wrapper">
                        <a href="" class="swiper-slide">
                            <img src="include/images/not1.jpg" alt="">
                            <span class="inner">
                                <span class="text">Трансфер</span>
                                <span class="link">Заказать</span>
                            </span>
                        </a>
                        <a href="" class="swiper-slide">
                            <img src="include/images/not2.jpg" alt="">
                            <span class="inner">
                                <span class="text">Паркинг</span>
                                <span class="link">Заказать</span>
                            </span>
                        </a>
                        <a href="" class="swiper-slide">
                            <img src="include/images/not3.jpg" alt="">
                            <span class="inner">
                                <span class="text">Ателье</span>
                                <span class="link">Заказать</span>
                            </span>
                        </a>
                        <a href="" class="swiper-slide">
                            <img src="include/images/not1.jpg" alt="">
                            <span class="inner">
                                <span class="text">Трансфер</span>
                                <span class="link">Заказать</span>
                            </span>
                        </a>
                        <a href="" class="swiper-slide">
                            <img src="include/images/not1.jpg" alt="">
                            <span class="inner">
                                <span class="text">Трансфер</span>
                                <span class="link">Заказать</span>
                            </span>
                        </a>
                    </div>
                </div>
                <div class="right_slider_bottom">
                    <div class="announces-block__nav">
                        <div class="not_arrow_btn swiper-button-prev"></div>
                        <div class="not_arrow_btn swiper-button-next"></div>
                    </div>
                    <div class="pagination_not"></div>
                </div>
            </div>
        </div>
    </div>
    <div class="position_block">
        <div class="block-padding">
            <div class="inner">
                <div class="left">
                    <div class="title">Удобное расположение</div>
                    <div class="swiper slider_position">
                        <div class="swiper-wrapper">
                            <div class="swiper-slide">
                                <img src="include/images/position_s.jpg" alt="">
                            </div>
                            <div class="swiper-slide">
                                <img src="include/images/position_s.jpg" alt="">
                            </div>
                            <div class="swiper-slide">
                                <img src="include/images/position_s.jpg" alt="">
                            </div>
                        </div>
                    </div>
                    <div class="body">Для отдыха в отеле мы предлагаем закрытый бассейн и тренажерный зал. В распоряжении гостей отеля рестораны с великолепной кухней, а также терраса на крыше с захватывающим видом.</div>
                    <div class="slider_bottom">
                        <div class="announces-block__nav">
                            <div class="position_arrow_btn swiper-button-prev"></div>
                            <div class="position_arrow_btn swiper-button-next"></div>
                        </div>
                        <div class="text">ЖД Вокзал <br>«Новосибирск Главный»</div>
                    </div>
                </div>
                <div class="right">
                    <img src="include/images/map_p.jpg" alt="">
                </div>
            </div>
        </div>
    </div>
</div>
include _footer.jade