include _inner_bg_header.jade
<div class="top_inner_bg" style="background-image: url(include/images/spes_bg.jpg);">
    <div class="path_block_wr animation_block">
        <div class="block-padding">
            <a href="">Главная</a><span>/</span>Специальные предложения
        </div>
    </div>
    <div class="page_title animation_block">
        <div class="block-padding">
            <h1>Специальные предложения</h1>
            <div class="text">Grand Autograph - единственный пятизвездочный отель в Новосибирске</div>
            <div class="play_btn_top"></div>
        </div>
    </div>

</div>
<div class="content_main_block spec_page">
    <div class="announces_list_wrap">
        <div class="block-padding">
            <div class="announces-block__slider-item">
                <div class="item-header">
                    <div class="item-btn">
                        <a href="#">
                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
                                <path d="M11.0216 0.260986H12.9781V23.7392H11.0216V0.260986Z" fill="white" />
                                <path d="M23.739 11.0219V12.9784L0.260742 12.9784L0.260742 11.0219L23.739 11.0219Z" fill="white" /></svg>
                        </a>
                    </div>
                    
                </div>
                <div class="item-title">День рождения</div>
                <div class="item-body">
                    <img src="include/images/spes_l1.jpg" alt="announce_sl2">
                </div>
            </div> 
            <div class="announces-block__slider-item">
                <div class="item-header">
                    <div class="item-btn">
                        <a href="#">
                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
                                <path d="M11.0216 0.260986H12.9781V23.7392H11.0216V0.260986Z" fill="white" />
                                <path d="M23.739 11.0219V12.9784L0.260742 12.9784L0.260742 11.0219L23.739 11.0219Z" fill="white" /></svg>
                        </a>
                    </div>
                    
                </div>
                <div class="item-title">В джазе только девушки</div>
                <div class="item-body">
                    <img src="include/images/spes_l2.jpg" alt="announce_sl2">
                </div>
            </div> 
            <div class="announces-block__slider-item">
                <div class="item-header">
                    <div class="item-btn">
                        <a href="#">
                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
                                <path d="M11.0216 0.260986H12.9781V23.7392H11.0216V0.260986Z" fill="white" />
                                <path d="M23.739 11.0219V12.9784L0.260742 12.9784L0.260742 11.0219L23.739 11.0219Z" fill="white" /></svg>
                        </a>
                    </div>
                    
                </div>
                <div class="item-title">Безупречный люкс</div>
                <div class="item-body">
                    <img src="include/images/spes_l3.jpg" alt="announce_sl2">
                </div>
            </div> 
            <div class="announces-block__slider-item">
                <div class="item-header">
                    <div class="item-btn">
                        <a href="#">
                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
                                <path d="M11.0216 0.260986H12.9781V23.7392H11.0216V0.260986Z" fill="white" />
                                <path d="M23.739 11.0219V12.9784L0.260742 12.9784L0.260742 11.0219L23.739 11.0219Z" fill="white" /></svg>
                        </a>
                    </div>
                    
                </div>
                <div class="item-title">Вечер в театре, ночь в отеле</div>
                <div class="item-body">
                    <img src="include/images/spes_l4.jpg" alt="announce_sl2">
                </div>
            </div> 
            <div class="announces-block__slider-item">
                <div class="item-header">
                    <div class="item-btn">
                        <a href="#">
                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
                                <path d="M11.0216 0.260986H12.9781V23.7392H11.0216V0.260986Z" fill="white" />
                                <path d="M23.739 11.0219V12.9784L0.260742 12.9784L0.260742 11.0219L23.739 11.0219Z" fill="white" /></svg>
                        </a>
                    </div>
                    
                </div>
                <div class="item-title">Длительное проживание от трёх дней</div>
                <div class="item-body">
                    <img src="include/images/spes_l5.jpg" alt="announce_sl2">
                </div>
            </div> 
            <div class="announces-block__slider-item">
                <div class="item-header">
                    <div class="item-btn">
                        <a href="#">
                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
                                <path d="M11.0216 0.260986H12.9781V23.7392H11.0216V0.260986Z" fill="white" />
                                <path d="M23.739 11.0219V12.9784L0.260742 12.9784L0.260742 11.0219L23.739 11.0219Z" fill="white" /></svg>
                        </a>
                    </div>
                    
                </div>
                <div class="item-title">Семейный пакет</div>
                <div class="item-body">
                    <img src="include/images/spes_l6.jpg" alt="announce_sl2">
                </div>
            </div> 
            <div class="announces-block__slider-item">
                <div class="item-header">
                    <div class="item-btn">
                        <a href="#">
                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
                                <path d="M11.0216 0.260986H12.9781V23.7392H11.0216V0.260986Z" fill="white" />
                                <path d="M23.739 11.0219V12.9784L0.260742 12.9784L0.260742 11.0219L23.739 11.0219Z" fill="white" /></svg>
                        </a>
                    </div>
                    
                </div>
                <div class="item-title">СПА</div>
                <div class="item-body">
                    <img src="include/images/spes_l7.jpg" alt="announce_sl2">
                </div>
            </div> 
            <div class="announces-block__slider-item">
                <div class="item-header">
                    <div class="item-btn">
                        <a href="#">
                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
                                <path d="M11.0216 0.260986H12.9781V23.7392H11.0216V0.260986Z" fill="white" />
                                <path d="M23.739 11.0219V12.9784L0.260742 12.9784L0.260742 11.0219L23.739 11.0219Z" fill="white" /></svg>
                        </a>
                    </div>
                    
                </div>
                <div class="item-title">Пакет выходного дня</div>
                <div class="item-body">
                    <img src="include/images/spes_l8.jpg" alt="announce_sl2">
                </div>
            </div> 
        </div>
    </div>
    <div class="review_slider_wrapper animation_block">
        <div class="block-padding">
            <div class="title_slider_block">
                <div class="title">Отзывы о предложениях</div>
                <div class="arrow__nav">
                    <div class="swiper-button-prev"></div>
                    <div class="swiper-button-next"></div>
                </div>
            </div>
            <div class="swiper swiper_review_slider">
                <div class="swiper-wrapper">    
                    <div class="review swiper-slide">
                        <div class="review_top">
                            <div class="date">19 января 2024</div>
                            <div class="name">Александра Петрова</div>
                            <div class="stars"><div class="stars_inner" style="width: 80%;"></div></div>
                            <div class="icon">
                                <img src="include/images/review1.svg" alt="">
                            </div>
                        </div>
                        <div class="body">
                            <p>Потрясающий сервис! На Алтае редко встретишь такое внимание к гостям! Ресторан еще не работает,но всю еду по меню привозят куда попросишь,будь то номер,беседка у реки,либо у домика.</p>
                            <p>По запросу привозят дрова и разжигают костер в беседках. Все очень дружелюбные. Мы очень довольн.....</p>
                        </div>
                        <div class="bottom"><a href="" class="link">Читать весь отзыв</a></div>
                    </div>
                    <div class="review swiper-slide">
                        <div class="review_top">
                            <div class="date">19 января 2024</div>
                            <div class="name">Александра Петрова</div>
                            <div class="stars"><div class="stars_inner" style="width: 80%;"></div></div>
                            <div class="icon">
                                <img src="include/images/review1.svg" alt="">
                            </div>
                        </div>
                        <div class="body">
                            <p>Потрясающий сервис! На Алтае редко встретишь такое внимание к гостям! Ресторан еще не работает,но всю еду по меню привозят куда попросишь,будь то номер,беседка у реки,либо у домика.</p>
                            <p>По запросу привозят дрова и разжигают костер в беседках. Все очень дружелюбные. Мы очень довольн.....</p>
                        </div>
                        <div class="bottom"><a href="" class="link">Читать весь отзыв</a></div>
                    </div>
                    <div class="review swiper-slide">
                        <div class="review_top">
                            <div class="date">19 января 2024</div>
                            <div class="name">Александра Петрова</div>
                            <div class="stars"><div class="stars_inner" style="width: 80%;"></div></div>
                            <div class="icon">
                                <img src="include/images/review1.svg" alt="">
                            </div>
                        </div>
                        <div class="body">
                            <p>Потрясающий сервис! На Алтае редко встретишь такое внимание к гостям! Ресторан еще не работает,но всю еду по меню привозят куда попросишь,будь то номер,беседка у реки,либо у домика.</p>
                            <p>По запросу привозят дрова и разжигают костер в беседках. Все очень дружелюбные. Мы очень довольн.....</p>
                        </div>
                        <div class="bottom"><a href="" class="link">Читать весь отзыв</a></div>
                    </div>
                    <div class="review swiper-slide">
                        <div class="review_top">
                            <div class="date">19 января 2024</div>
                            <div class="name">Александра Петрова</div>
                            <div class="stars"><div class="stars_inner" style="width: 80%;"></div></div>
                            <div class="icon">
                                <img src="include/images/review1.svg" alt="">
                            </div>
                        </div>
                        <div class="body">
                            <p>Потрясающий сервис! На Алтае редко встретишь такое внимание к гостям! Ресторан еще не работает,но всю еду по меню привозят куда попросишь,будь то номер,беседка у реки,либо у домика.</p>
                            <p>По запросу привозят дрова и разжигают костер в беседках. Все очень дружелюбные. Мы очень довольн.....</p>
                        </div>
                        <div class="bottom"><a href="" class="link">Читать весь отзыв</a></div>
                    </div>
                </div>
            </div>
        </div>  
    </div> 
</div>
include _footer.jade